name: ML Training Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run training
      run: |
        python train.py > output.txt

    - name: Show metrics in Job Summary
      run: |
        echo "## ML Experiment Results" >> $GITHUB_STEP_SUMMARY
        echo "**Name:** Sujal Saraswat" >> $GITHUB_STEP_SUMMARY
        echo "**Roll No:** 2022BCS0015" >> $GITHUB_STEP_SUMMARY
        echo "" >> $GITHUB_STEP_SUMMARY
        grep "MSE" output.txt >> $GITHUB_STEP_SUMMARY
        grep "R2" output.txt >> $GITHUB_STEP_SUMMARY

    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: model-and-results
        path: output/
